[submodule "src/franka_panda_description"]
	path = src/franka_panda_description
	url = https://github.com/JustaGist/franka_panda_description
[submodule "src/franka_ros"]
	path = src/franka_ros
	url = https://github.com/frankaemika/franka_ros
	branch = noetic-devel
[submodule "src/franka_ros_interface"]
	path = src/franka_ros_interface
	url = https://github.com/JustaGist/franka_ros_interface
	branch = v0.7.1-dev
[submodule "src/orocos_kinematics_dynamics"]
	path = src/orocos_kinematics_dynamics
	url = https://github.com/orocos/orocos_kinematics_dynamics
[submodule "src/panda_moveit_config"]
	path = src/panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config
	branch = kinetic-devel
[submodule "src/panda_simulator"]
	path = src/panda_simulator
	url = https://github.com/justagist/panda_simulator
	branch = noetic-devel
